streamlit==1.28.1
opencv-python-headless==4.9.0.80
ultralytics==8.2.103
torch==2.3.1
torchvision==0.18.1
numpy==1.24.4
pandas==2.0.3
Pillow==10.0.1
requests==2.31.0
PyYAML==6.0.1
matplotlib==3.7.5
psutil==5.9.8
